h1{ 
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 600px;
    
    
}
h2{ 
    color: white;
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 600px;
    
}
h3{ 
    color: white;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 600px;
    
}
h4{ 
    font-family: 'Inter';
    font-size:18px;
    font-weight: 600px;
    
}
h5{ 
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 600px;
    
}

label{
    font-family: 'Lora';
}

hr{
    width: 296px;
}
