@use '../base/mixins' as m;
.Mapa{
    padding-top: 32px;
    width:360px;
    height:219px;
    @include m.tablet{
        width: 185px;
        height: 185px;
        padding-top: 5px;
    }

}

.Titulo-Container{
display: flex;
flex-direction: column;
align-items: center;
@include m.tablet{
    align-items: flex-start;
}
}

.Titulo-Text{
    margin: 5px;
    margin-top: 10px;
    @include m.tablet{
        margin: 2px;
        margin-top: 0;
        padding: 0;

    }
}

.About-Container{


    background-color: #1A3D5F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    @include m.tablet{
        padding-top: 50px;
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        gap: 37px;
    }

}
.subText1{
    font-size: 16px;
    width: 266px;
    height: 58px;
    height: auto;
    margin-bottom: 40px;
    margin-top: 7px;
    @include m.tablet{
        width: 443px;
        height: 45px;
        margin-bottom:20px;
        
    }
}
.subText2{
    font-size: 16px;
    width: 266px;
    height: 215px;
    margin-bottom: 15px;
    margin-top: 7px;
    @include m.tablet{
        width: 443px;
        height: 110px;
    }

}

.Linea{
    width: 296px;
    @include m.tablet{
        width: 451px;
        border-top: 3px solid white;
        border-radius: 5px;
        margin-bottom: 10px;
    }
}

.About-Title{
    font-size: 18px;
    margin: 23px;
    @include m.tablet{
        margin: 0;
        
    }
}

.subText-Container{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TextoContainer{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    @include m.tablet{
        margin-top: 0;
    }
    
}


