
.greets-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: solid 3px ;
}

.greets-container > div > h3 {
    color: black;
    font-size: 18px;
    font-weight: 600;
    margin: 30px 0 10px 0;
}

.greets-container > div > h4 {
    font-family: "Lora";
    padding: 0 0 10px 0;
}

.greets-container > div > img {
    padding-top: 40px;
}

.greets-container > div > h4 {
    margin: 0;
}

.greets-container > div {
display: flex;
justify-content: center;
 width: 90%;   
}

.Titulo > h3 {
    color: black;
    font-family: "Lora";
    font-size: 16px;
}

.Sub-Titulo > h3 {
    color: black;
    font-family: "Lora";
    font-size: 16px;
}

.Component-Container{
    width: 100%;
    
}

.Component-Container > div {
    display: flex;
    flex-direction: row;

}

.Symbols {
    display: flex;
    flex-direction: row;
}

.Symbols > h3 {
    color: black;
    font-family: "Lora";
    font-size: 16px;
}

.Cajon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 35px 0 35px;
}

.producto-list > p {
    font-family: "Lora";
    font-size: 16px;
    font-weight: 600;
}

.producto-list {
    display: flex;
    flex-direction: row;
}

.lista-productos{
    margin: 0;
    list-style-type: square;
}

.numerador{
    margin-right: 8px;
}

.info-container{
    border-top: solid 3px #1D4368 ;
    border-top-style: dashed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 25px 0 25px;
}

.info-container > p {
    font-family: "Lora";
    font-weight: 400;
}
.info-container > div {
    padding-bottom: 30px;
}








