@use '../base/mixins' as m;
.cancel-leyend-container{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.cancel-leyend{
    color: black;
    width: 90%;
    display: flex;
    @include m.tablet{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.cancel-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cancel-text{
    width: 300px;
    color: black;

}

.cancel-button-container{
    display: flex;
    justify-content: center;
}