
.Modal-Header{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #1A3D5F;
}

.Modal-Header > p {
    font-weight: 600;
    font-size: 21px;
    letter-spacing: 0.20px;
    color: #122C45;
    font-family: "Lora";
}


.Modal-Body-Conteo {
    background: #1A3D5F;
    padding: 0 0 10px 10px;
    padding-top: 15px;
    border-radius: 0 0 5px 5px;
    
}

.Modal-Body-Conteo > h2 {
    
    margin: 0;
    margin-bottom: 10px;
}







.Modal-Body > p {
    margin-left: 15px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Signika";
}

.Product-Container > h3 {
    color: black;
    margin: 10px 0 10px 0;
    
}

.Product-Container {
    margin: 10px;
}

.Product-Container > p {
    font-family: "Poppins";
    font-size: 16px;
}

.Products-Cart-Container{
    height: 150px;
    overflow-y: auto;

}