@use '../base/mixins' as m;
.popup-content {
   @include m.tablet{
    width: 50%;
   }
    margin: auto;
    background: rgb(255, 255, 255);
    width: 75%;
    padding: 0;
    border-radius: 5px;
  }

  .popup-overlay {
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.5);
  }

.header{
  font-weight: 700;
}


.modal {
    font-size: 14px;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px 0 5px 0;
    background-color: #1A3D5F;
    border-radius: 5px 0 0 0;
    color: white;
  }
  .modal > .content {
    width: 100%;
    }

  .content{

    height: auto;
    overflow-y: auto;
  }
  .modal > .actions {
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: #1A3D5F;
    border-radius:  0 0 5px 5px;
    color: white;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }

  .menu {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
  }
  .menu-item {
    @include m.tablet {
      width: 94%;
      
    }
    cursor: pointer;
    padding: 13px;
    height: 28px;
    border-bottom: 1px solid rgb(187, 187, 187);
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .ul-menu{
    .menu-item{
      border-bottom: none;
    }
  }

.menu-item > p {
  @include m.tablet {
    font-size: 20px;
  }
  font-size: 15px;
}

  .menu-item:hover {
    color: #2980b9;
  }

  .menu-counter{
    //padding: 0 10px 0 10px;
    @include m.tablet{
      margin: 10px 0 10px 0;
      font-size: 20px;
    }
    width: 40px;
    display: flex;
    justify-content: center;
  }

  .menu-button{
    width: 22px;
    height: 22px;
  }

  .arrows-container{
    display: flex;
    flex-direction: row;
  }



  .acumulado-container{
    width: 100%;
    display: flex;
    justify-content: center;


  }

  .acumulado-container > div {
    padding: 0 35px 0 35px;
    font-size: 18px;

  }

  .acumulado-container > div > p {
    margin-top: 0px;
  }

  .cantidad {
    font-weight: 600;
    font-size: 18px;
  }
  .cantidad > p {
    margin-top: 3px ;
    margin-bottom: 5px;
  }

  .button-cart{
    margin-top: 10px;
  }

  .button-dots{
    cursor: pointer;
    background-color: #1A3D5F;
    border: none;
    width: 80px;
  }

  .void-cart{
    color: black;
    margin-left: 8px;
  }

